style()
  .footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
    }
  .footer p {
    margin-bottom: 0;
    color: #555;
  }

.footer.row
    .span8
      p= 'The gradebook is built with opensource tehnologies asdfasdf sdfas df asdf asdf as dfa sdfa sdfa sdfa sdfa sdfa sdfa sdfa sdf asdf asd fas fas dfas dfas dfas dfas dfaf da'
    
    .span4.pull-right
      a( href='#')
         p= 'Nesto drugo'
